@page "/"
@inject IImagesService Service

<PageTitle>Главная - Никольский кефир</PageTitle>

<div class="border-1 bg-light shadow rounded-1 p-2">

    <h1>Никольский кефир</h1>

    <p>Карикатурные рисунки различной тематики</p>

    @if (pics is null)
    {
        <p><em>Загрузка рисунков...</em></p>
    }
    else
    {
        <p>Самые последние рисунки.</p>

        <div class="row">
            @foreach (var pic in pics)
            {
                <div class="col-lg-6">
                    <div class="card mb-4">
                        <h5 class="card-header">@pic.Name</h5>
                        <NavLink href="@($"imageshow/{pic.Id}")">
                            <img src="@(pic.Path)" class="card-img-top" alt="@(pic.Name)" />
                        </NavLink>
                        <div class="card-body">
                            <p class="card-text">
                                Дата: @(pic.Date.ToString("dd.MM.yyyy"))
                            </p>
                        </div>
                        @if (pic.Vk != null || pic.Ok != null || pic.Telegram != null || pic.Instagram != null)
                        {
                            <div class="card-footer text-muted">
                                Обсудить и поделиться:
                                @if (pic.Vk is { } vk)
                                {
                                    <a href="@(vk)" target="_blank" class="btn btn-primary btn-sm me-1">
                                        <i class="fab fa-vk"></i>
                                    </a>
                                }
                                @if (pic.Ok is { } ok)
                                {
                                    <a href="@(ok)" target="_blank" class="btn btn-warning btn-sm me-1">
                                        <i class="fab fa-odnoklassniki"></i>
                                    </a>
                                }
                                @if (pic.Telegram is { } tm)
                                {
                                    <a href="@(tm)" target="_blank" class="btn btn-info btn-sm me-1">
                                        <i class="fab fa-telegram"></i>
                                    </a>
                                }
                                @if (pic.Instagram is { } im)
                                {
                                    <a href="@(im)" target="_blank" class="btn btn-dark btn-sm me-1">
                                        <i class="fab fa-instagram"></i>
                                    </a>
                                }
                            </div>
                        }
                    </div>
                </div>
            }
        </div>
    }
    <div class="row m-1">
        <NavLink class="btn btn-success me-1 p-3" href="pics">
            <i class="fas fa-angle-double-right"></i>
            Еще
        </NavLink>
    </div>
    <div class="row m-1">
        <NavLink class="btn btn-warning me-1 p-3" href="order">
            <i class="fas fa-cart-shopping"></i>
            Заказать рисунок
        </NavLink>
    </div>
</div>

@code {
    private IEnumerable<Image>? pics;
    protected override async Task OnInitializedAsync()
    {
        var names = new[] { "Инвентаризация", "Памятка", "Антипамятка", "Райки", "Сводка", "Счастье", "Мечта", "Идеал" };
        pics = (await Service.GetImages())
        ?.Where(x => x.Date.Year >= 2021).Where(x => names.Contains(x.Name))
        ?.OrderByDescending(x => x.Date);
    }
}