@page "/"

<PageTitle>Главная</PageTitle>

<div class="border-1 bg-light shadow rounded-1 p-2">

    <h1>Никольский кефир</h1>

    <p>Самые последние рисунки.</p>

    <div class="row">
        @foreach (var item in Images)
        {
            <div class="col-lg-6">
                <div class="card mb-4">
                    <h5 class="card-header">@item.Name</h5>
                    <NavLink href="@($"imageshow/{item.Id}")">
                        <img src="@(item.Path)" class="card-img-top" alt="@(item.Name)" />
                    </NavLink>
                    <p class="card-body">Дата: @(item.Date.ToString("dd.MM.yyyy"))</p>
                </div>
            </div>
        }
    </div>

    <div class="m-1">
        <NavLink class="btn btn-info me-1 p-3" href="images2022">
            <i class="fas fa-arrow-left"></i>
            Рисунки 2022 года
        </NavLink>
        <NavLink class="btn btn-info me-1 p-3" href="images2021">
            <i class="fas fa-arrow-left"></i>
            Рисунки 2021 года
        </NavLink>
        <NavLink class="btn btn-info me-1 p-3" href="images2020">
            <i class="fas fa-arrow-left"></i>
            Рисунки 2020 года
        </NavLink>
        <NavLink class="btn btn-info me-1 p-3" href="images2019">
            <i class="fas fa-arrow-left"></i>
            Рисунки 2019 года
        </NavLink>
    </div>
    <div class="row m-1">
        <NavLink class="btn btn-success me-1 p-3" href="order">
            <i class="fas fa-cart-shopping"></i>
            Заказать рисунок
        </NavLink>
    </div>
</div>

@code {
    public IEnumerable<Image> Images { get; set; } = Enumerable.Empty<Image>();
    protected override void OnParametersSet()
    {
        var images = new List<Image>();
        images.Add(ImagesData.GetImages().First(x => x.Name == "Инвентаризация"));
        images.Add(ImagesData.GetImages().First(x => x.Name == "Сводка"));
        images.Add(ImagesData.GetImages().First(x => x.Name == "Счастье"));
        images.Add(ImagesData.GetImages().First(x => x.Name == "Идеал"));
        images.Add(ImagesData.GetImages().First(x => x.Name == "Рай"));
        images.Add(ImagesData.GetImages().First(x => x.Name == "Мечта"));
        Images = images;
    }
}