@page "/pics2020"
@inject IImagesService Service

<PageTitle>Рисунки за @year год - Никольский кефир</PageTitle>

<SidebarPartial>
    <div class="border-1 bg-light shadow rounded-1 p-2">

        <h1>Рисунки за @year год</h1>

        @if (images is null)
        {
            <p><em>Загрузка рисунков...</em></p>
        }
        else
        {
            <div class="row">
                @foreach (var item in images)
                {
                    <div class="col-lg-6">
                        <div class="card mb-4">
                            <h5 class="card-header">@item.Name</h5>
                            <NavLink href="@($"imageshow/{item.Id}")">
                                <img src="@(item.Path)" class="card-img-top" alt="@(item.Name)" />
                            </NavLink>
                            <p class="card-body">Дата: @(item.Date.ToString("dd.MM.yyyy"))</p>
                        </div>
                    </div>
                }
            </div>
        }
        <div class="row m-1">
            <NavLink class="btn btn-warning me-1 p-3" href="order">
                <i class="fas fa-cart-shopping"></i>
                Заказать рисунок
            </NavLink>
        </div>
    </div>
</SidebarPartial>

@code {
    private int year = 2020;
    private IList<Image>? images;
    protected override async Task OnParametersSetAsync()
    {
        images = (await Service.GetImages())
        ?.OrderByDescending(x => x.Date).Where(x => x.Date.Year == year).ToArray();
    }
}