@page "/pics/{year:int}"
@page "/pics"
@inject IImagesService Service

<PageTitle>@Name - Никольский кефир</PageTitle>

<div class="border-1 bg-light shadow rounded-1 p-2">

    <h1>@Name</h1>

    @if (images is null)
    {
        <p><em>Загрузка рисунков...</em></p>
    }
    else
    {
        <div class="row">
            @foreach (var item in images)
            {
                <div class="col-lg-6">
                    <div class="card mb-4">
                        <h5 class="card-header">@item.Name</h5>
                        <NavLink href="@($"imageshow/{item.Id}")">
                            <img src="@(item.Path)" class="card-img-top" alt="@(item.Name)" />
                        </NavLink>
                        <p class="card-body">Дата: @(item.Date.ToString("dd.MM.yyyy"))</p>
                    </div>
                </div>
            }
        </div>
    }
    <div class="row m-1">
        <button class="btn btn-success me-1 p-3 @GetNextCssClass" @onclick="GetNextPictures">
            <i class="fas fa-angle-double-right"></i>
            Еще
        </button>
    </div>
    <div class="row m-1">
        <NavLink class="btn btn-warning me-1 p-3" href="order">
            <i class="fas fa-cart-shopping"></i>
            Заказать рисунок
        </NavLink>
    </div>
</div>

@code {
    [Parameter]
    public int? Year { get; set; }
    private IList<Image>? images;
    private Image[][]? chunks;
    private int chunkNumber = default;
    private string Name => Year is null ? "Все рисунки" : $"Рисунки за {Year} год";
    private string? GetNextCssClass => chunkNumber < chunks?.Count() - 1 ? null : "collapse";
    protected override async Task OnParametersSetAsync()
    {
        if (Year is null)
        {
            chunks = (await Service.GetImages())
            ?.OrderByDescending(x => x.Date)?.Chunk(30)?.ToArray();
            images = new List<Image>();
            if (chunks?.ToArray()[chunkNumber] is { } first)
            {
                foreach (var e in first)
                {
                    images.Add(e);
                }
            }
        }
        else
        {
            chunks = default;
            images = (await Service.GetImages())
            ?.Where(x => x.Date.Year == Year)
            ?.OrderByDescending(x => x.Date)?.ToArray();
        }
        chunkNumber = default;
    }
    private void GetNextPictures()
    {
        chunkNumber++;
        if (chunks?.ToArray()[chunkNumber] is { } next)
        {
            foreach (var e in next)
            {
                images?.Add(e);
            }
        }
    }
}
