@page "/pics2023"
@inject IImagesService Service

<PageTitle>Рисунки за @year год - Никольский кефир</PageTitle>

<SidebarPartial>
    <div class="border-1 bg-light shadow rounded-1 p-2">

        <h1>Рисунки за @year год</h1>

        @if (images is null)
        {
            <p><em>Загрузка рисунков...</em></p>
        }
        else
        {
            <div class="row">
                @foreach (var item in images)
                {
                    <div class="col-lg-6">
                        <div class="card mb-4">
                            <h5 class="card-header">@item.Name</h5>
                            <NavLink href="@($"imageshow/{item.Id}")">
                                <img src="@(item.Path)" class="card-img-top" alt="@(item.Name)" />
                            </NavLink>
                            <div class="card-body">
                                <p class="card-text">
                                    Дата: @(item.Date.ToString("dd.MM.yyyy"))
                                </p>
                            </div>
                            @if (item.Vk != null || item.Ok != null || item.Telegram != null || item.Instagram != null)
                            {
                                <div class="card-footer text-muted">
                                    Обсудить и поделиться:
                                    @if (item.Vk is { } vk)
                                    {
                                        <a href="@(vk)" target="_blank" class="btn btn-primary btn-sm me-1">
                                            <i class="fab fa-vk"></i>
                                        </a>
                                    }
                                    @if (item.Ok is { } ok)
                                    {
                                        <a href="@(ok)" target="_blank" class="btn btn-warning btn-sm me-1">
                                            <i class="fab fa-odnoklassniki"></i>
                                        </a>
                                    }
                                    @if (item.Telegram is { } tm)
                                    {
                                        <a href="@(tm)" target="_blank" class="btn btn-info btn-sm me-1">
                                            <i class="fab fa-telegram"></i>
                                        </a>
                                    }
                                    @if (item.Instagram is { } im)
                                    {
                                        <a href="@(im)" target="_blank" class="btn btn-dark btn-sm me-1">
                                            <i class="fab fa-instagram"></i>
                                        </a>
                                    }
                                </div>
                            }
                        </div>
                    </div>
                }
            </div>
        }
        <div class="row m-1">
            <NavLink class="btn btn-warning me-1 p-3" href="order">
                <i class="fas fa-cart-shopping"></i>
                Заказать рисунок
            </NavLink>
        </div>
    </div>
</SidebarPartial>

@code {
    private int year = 2023;
    private IList<Image>? images;
    protected override async Task OnParametersSetAsync()
    {
        images = (await Service.GetImages())
        ?.OrderByDescending(x => x.Date).Where(x => x.Date.Year == year).ToArray();
    }
}